﻿@{
    string path = Context.Request.Path;
}
<nav class="navbar px-5 navbar-expand-sm bg-body mb-5  rounded border border-top d-none d-sm-block">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">Patient_</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="w-75">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-evenly">
                <li class="nav-item">
                    <a class="nav-link text-dark @(path.StartsWith("/AdminDashBoard") ? "activesbnav" : "")" aria-current="page" asp-action="Index" asp-controller="AdminDashBoard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark @(path.StartsWith("/abc") ? "activesbnav" : "")" asp-action="Index" asp-controller="AdminDashBoard">Provider Location</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark @(path.StartsWith("/abc") ? "activesbnav" : "")" asp-action="Index" asp-controller="AdminDashBoard">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark @(path.StartsWith("/abc") ? "activesbnav" : "")" asp-action="Index" asp-controller="AdminDashBoard">Providers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark @(path.StartsWith("/abc") ? "activesbnav" : "")" asp-action="Index" asp-controller="AdminDashBoard">Partners</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark @(path.StartsWith("/abc") ? "activesbnav" : "")" asp-action="Index" asp-controller="AdminDashBoard">Access</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark @(path.StartsWith("/abc") ? "activesbnav" : "")" asp-action="Index" asp-controller="AdminDashBoard">Records</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script>

</script>